<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xc.dao.UserStockSubscribeMapper">

    <resultMap id="BaseResultMap" type="com.xc.pojo.UserStockSubscribe" >
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="real_name" property="realName" />
        <result column="phone" property="phone" />
        <result column="admin_id" property="adminId" />
        <result column="admin_name" property="adminName" />
        <result column="submit_amount" property="submitAmount" />
        <result column="status" property="status" />
        <result column="add_time" property="addTime" />
        <result column="submit_time" property="submitTime" />
        <result column="end_time" property="endTime" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
                user_id,
                real_name,
                phone,
                admin_id,
                admin_name,
                submit_amount,
                status,
                add_time,
                submit_time,
                end_time,
                remarks
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.xc.pojo.UserStockSubscribe">
        INSERT INTO user_stock_subscribe
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != userId'>
                user_id,
            </if>
            <if test ='null != realName'>
                real_name,
            </if>
            <if test ='null != phone'>
                phone,
            </if>
            <if test ='null != adminId'>
                admin_id,
            </if>
            <if test ='null != adminName'>
                admin_name,
            </if>
            <if test ='null != submitAmount'>
                submit_amount,
            </if>
            <if test ='null != status'>
                status,
            </if>
            <if test ='null != addTime'>
                add_time,
            </if>
            <if test ='null != submitTime'>
                submit_time,
            </if>
            <if test ='null != endTime'>
                end_time,
            </if>
            <if test ='null != remarks'>
                remarks
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != userId'>
                #{userId},
            </if>
            <if test ='null != realName'>
                #{realName},
            </if>
            <if test ='null != phone'>
                #{phone},
            </if>
            <if test ='null != adminId'>
                #{adminId},
            </if>
            <if test ='null != adminName'>
                #{adminName},
            </if>
            <if test ='null != submitAmount'>
                #{submitAmount},
            </if>
            <if test ='null != status'>
                #{status},
            </if>
            <if test ='null != addTime'>
                #{addTime},
            </if>
            <if test ='null != submitTime'>
                #{submitTime},
            </if>
            <if test ='null != endTime'>
                #{endTime},
            </if>
            <if test ='null != remarks'>
                #{remarks}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM user_stock_subscribe
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.xc.pojo.UserStockSubscribe">
        UPDATE user_stock_subscribe
        <set>
            <if test ='null != userId'>user_id = #{userId},</if>
            <if test ='null != realName'>real_name = #{realName},</if>
            <if test ='null != phone'>phone = #{phone},</if>
            <if test ='null != adminId'>admin_id = #{adminId},</if>
            <if test ='null != adminName'>admin_name = #{adminName},</if>
            <if test ='null != submitAmount'>submit_amount = #{submitAmount},</if>
            <if test ='null != status'>status = #{status},</if>
            <if test ='null != addTime'>add_time = #{addTime},</if>
            <if test ='null != submitTime'>submit_time = #{submitTime},</if>
            <if test ='null != endTime'>end_time = #{endTime},</if>
            <if test ='null != remarks'>remarks = #{remarks}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM user_stock_subscribe
        WHERE id = #{id}
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM user_stock_subscribe
        where 1=1
        <if test="keyword != null and keyword != ''">
            and (user_id = #{keyword} or real_name like CONCAT('%',#{keyword},'%') or phone like CONCAT('%',#{keyword},'%'))
        </if>
        order by id desc
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM user_stock_subscribe
    </select>

    <!--查询用户最新新股申购数据-->
    <select id="getOneSubscribeByUserId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM user_stock_subscribe
        WHERE user_id = #{userId}  order by id desc limit 1
    </select>

</mapper>